{
    "root": true,
    "plugins": [
      "prettier"
    ],
    "extends": [
      "eslint:recommended",
      "prettier"
    ],
    "rules": {
      "prettier/prettier": 2,
      "no-use-before-define": ["warn", { "functions": true, "classes": true }],
      "no-var": "off",
      "prefer-const": "off",
      "no-undef": "off"
    },
    "parserOptions": {
      "ecmaVersion": 2020,
      "sourceType": "module"
    },
    "env": {
      "node": true,
      "es6": true
    }
}